.tech_item-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech_item-image {
    margin-bottom: 34px;
}

.tech_item-image-landscape {
    width: 100%;
}

.tech_item-image-portrait {
    display: none;
}

.tech_item-content {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
}

.tech_item-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
    gap: 1rem;
}

.tech_item-title {
    margin-bottom: 9px;
}

.tech_item-name {
    margin-bottom: 1rem;
}


@media screen and (min-width: 375px) {
    .tech_item-image {
        margin-bottom: 56px;
    }

    .tech_item-content {
        margin: 0 15%;
    }

    .tech_item-slider {
        margin-bottom: 44px;
    }

    .tech_item-title {
        margin-bottom: 1rem;
    }

}

@media screen and (min-width: 768px) {
    .tech_item-content {
        align-items: center;
    }

    .tech_item-image-portrait {
        display: block;
    }

    .tech_item-image-landscape {
        display: none;
    }

    .tech_item-content {
        flex-direction: row;
        gap: 3rem;
    }

    .tech_item-slider {
        flex-direction: column;
    }

    .tech_item-title, .tech_item-name, .tech_item-description {
        text-align: left;
    }
}

@media screen and (min-width: 1080px) {

    .tech_item-content {
        margin: 0;
        margin-left: 8%;
    }
}

@media screen and (min-width: 1440px) {
    .tech_item-main {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .tech_item-content {
        align-items: flex-start;
    }

    .tech_item-body {
        width: 475px;
    }

    .tech_item-title {
        margin-bottom: 11px;
    }

    .tech_item-name {
        margin-bottom: 17px;
    }
}

@media screen and (min-width: 1920px) {
    .tech_item-main {
        margin: 0;
        justify-content: center;
        gap: 15%;
    }

    .tech_item-content {
        margin: 0;
    }
}