.crew-main {
    min-height: 100vh;
    width: 100%;
    background: url('/src/Assets/crew/background-crew-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
    font-family: var(--font-main);

    display: flex;
    flex-direction: column;
}

.crew-header {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    gap: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 5.5rem; 
    margin-bottom: 2rem;
}

.crew-header p {
    font-weight: bold;
    opacity: .25;
}

.crew-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crew-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 222px;
    width: 327px;

    border-bottom: solid 1px #383b4b;
    margin-bottom: 1rem;
}

.crew-image img {
    height: 222px;
}

.crew-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.crew-nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.crew-nav-member {
    background: rgba(255, 255, 255, 0.17);
    height: 10px;
    width: 10px;
    cursor: pointer;
    border-radius: 100%;
}

.crew-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.5rem;
}

.crew-role {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 8px;
}

.crew-name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.crew-description {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: var(--color-purple);
    text-align: center;
    width: 38ch;
}

.crew-nav-member:hover {
    color: white;
    opacity: .5;
}

.selected-member {
    background: white;
    opacity: 1;
}

.selected-member:hover {
    opacity: 1;
}

@media screen and (min-width: 550px) {
    .crew-main {
    background:url('/src/Assets/crew/background-crew-tablet.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .crew-header {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        gap: 19px;
        
        justify-content: flex-start;
        margin-top: 8.5rem;
        margin-left: 2.5rem; 
        margin-bottom: 3.75rem;
    }

    .crew-container {
        flex-direction: column-reverse;
        justify-content: space-between;
        min-height: 100vh;
        margin: 0;
    }

    .crew-image {
        border: transparent;
        height: 100%;
        margin: 0;
    }

    .crew-image img {
        height: 532px;
    }

    .crew-nav {
        margin: 0;
    }

    .crew-info {
        margin-bottom: 2.5rem;
    }

    .crew-role {
        font-size: 24px;
        line-height: 28px;
    }

    .crew-name {
        font-size: 40px;
        line-height: 46px;
    }

    .crew-description {
        font-size: 16px;
        line-height: 28px;
        width: 52ch;
    }

    .crew-content {
        flex-direction: column-reverse;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 1080px) {
    .crew-main {
        background: url('/src/Assets/crew/background-crew-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}

@media screen and (min-width: 1440px) {
    .crew-header {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        gap: 1.75rem;

        margin: 13.25rem 0 6rem 10.5rem;
    }

    .crew-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .crew-image {
        border: transparent;
        margin: 0;
        margin-right: 8.5rem;
        justify-content: center;

    }

    .crew-image img {
        height: auto;
        position: absolute;
        bottom: 0;
        margin-right: 8.5rem;
    }

    .crew-content {
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 10.3rem;
        margin-bottom: 0;
    }

    .crew-info {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .crew-role {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 1rem;
        text-align: left;
    }

    .crew-name {
        font-size: 56px;
        line-height: 64px;
    }

    .crew-description {
        height: 160px;
        font-size: 18px;
        line-height: 32px;
        text-align: left;
        margin-bottom: 7.5rem;
        width: 42ch;
    }

    .crew-nav {
        margin-bottom: 5.85rem;
        gap: 1.5rem;
    }

    .crew-nav-member {
        height: 15px;
        width: 15px;
    }
}
