.crew-main {
    height: 100vh;
    width: 100%;
    background: url('/src/Assets/crew/background-crew-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5rem;
}

.crew-content {
    display: flex;
    flex-direction: column;
    margin-left: 10.3rem;
    height: 100%;
    justify-content: space-between;
}

.crew-header {
    display: flex;
    gap: 1.5rem;
    font-family: var(--font-secondary);
    font-size: 28px;
    font-weight: normal;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-top: 13.25rem;
}

.crew-header p {
    opacity: 0.25;
    font-weight: bold;
}

.crew-role {
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    opacity: .5;
    margin-top: 9.6rem;
}

.crew-name {
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    margin-top: 1rem;
}

.crew-description {
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    color: var(--color-purple);
    margin-top: 1.7rem;
    width: 444px;
}

.crew-nav {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 6rem;
}

.crew-nav-member {
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 100%;
    cursor: pointer;
}

.crew-nav-member:hover {
    opacity: .5;
}

.selected-member {
    background-color: white;
    opacity: 1;
}

.selected-member:hover {
    opacity: 1;
}

