.crew-main {
    height: 100vh;
    width: 100%;
    background: url('/src/Assets/crew/background-crew-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10.5rem;
    padding-right: 5.5rem;
}

.crew-header {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    gap: 24px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 9.625rem;
}

.crew-header p {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    opacity: .25;
}

.crew-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 13.25rem;
}

.crew-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.crew-role {
    font-family: var(--font-main);
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 15px;
    height: 37px;
}

.crew-name {
    font-family: var(--font-main);
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 27px;
    height: 64px;
}

.crew-description {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    width: 444px;
    margin-bottom: 6.5rem;
    height: 140px;
}

.crew-nav {
    display: flex;
    gap: 24px;
}

.crew-nav-member {
    background: rgba(255, 255, 255, 0.17);
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 100%;
}

.crew-nav-member:hover {
    color: white;
    opacity: .5;
}

.selected-member {
    background: white;
    opacity: 1;
}

.selected-member:hover {
    opacity: 1;
}

.crew-image {
    display: flex;
    align-items: flex-end;
}

.crew-image img {
    overflow: hidden;
}

@media screen and (max-width: 1375px) {
    .crew-name {
        height: 95px;
        margin-bottom: 45px;
        width: 12ch;
    }

    .crew-description {
        margin-bottom: 4.5rem;
    }
}

@media screen and (max-width: 1150px) {
    .crew-main {
        padding: 0;
    }

    .crew-container { 
        flex-direction: column;
        /* justify-content: center; */
        margin: 0;
        padding-top: 0;

        /* border: solid 1px red; */
    }

    .crew-content {
        /* border: solid 1px red; */
        margin: 0;
        align-items: center;
    }

    .crew-header {
        padding-left: 38.5px;
        padding-top: 8.5rem;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        text-transform: uppercase;
        gap: 16px;
        width: 100%;
        margin-bottom: 60px;
    }

    .crew-header p {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }

    .crew-role {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 8px;;
    }

    .crew-name {
        width: auto;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        height: auto;
        margin-bottom: 16px;
    }

    .crew-description { 
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        height: 84px;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .crew-image {
        justify-content: center;
        align-items: center;
        height: 46%;
    }

    .crew-image img {
        height: 100%;
    }
}