.destination-main {
  min-height: 100vh;
  width: 100%;
  background: url("/public/Assets/destination/background-destination-mobile.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: var(--font-main);

  display: flex;
  flex-direction: column;
  padding-top: 5.5rem;
}

.destination-container {
  margin: 2rem 1.5rem;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .destination-main {
    padding-top: 8.5rem;
    background: url("/public/Assets/destination/background-destination-tablet.jpg")
    no-repeat center center fixed;
  }

  .destination-container {
    margin: 3.75rem 6.3rem;
  }
}