.crew_member-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.crew_member-image {
    width: 100%;
    border-bottom: solid 1px #383b4bbd;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 256px;
}

.crew_member-image > img {
    width: 55%;
    max-width: 225px;
}

.crew_member-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.crew_member-slider {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 32px 0;
}

@media screen and (min-width: 375px) {
    .crew_member-main {
        flex-direction: column-reverse;
        padding: 0 15%;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .crew_member-image {
        border: none;
        flex-grow: 1;
    }

    .crew_member-image > img {
        width: auto;
        max-height: 532px;
        max-width: fit-content;
        height: 100%;
    }

    .crew_member-content {
        flex-direction: column-reverse;
    }

    .crew_member-body {
        height: 200px;
    }

    .crew_member-name {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1080px) {
    .crew_member-main {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 8%;
    }

    .crew_member-image {
        height: 100%;
        min-width: 532px;
    }

    .crew_member-image > img {
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: 0 100%;
    }


    .crew_member-content {
        justify-content: center;
        height: 100%;
    }

    .crew_member-slider {
        margin: 120px 0;
        justify-content: flex-start;
        gap: 24px;
    }

    .crew_member-role {
        text-align: left;
        margin-bottom: 15px;
    }

    .crew_member-name {
        margin-bottom: 27px;
        text-align: left;
    }

    .crew_member-bio {
        text-align: left;
    }
}

@media screen and (min-width: 1440px) {
    .crew_member-main {
        padding: 0 8%;
    }

    .crew_member-content {
        justify-content: flex-end;
        /** 
        Switch the title margin from crew-title to crew_member-content 
        as padding so image can be taller
        **/
        padding-top: 154px;

    }

    .crew_member-image {
        justify-content: flex-end;
    }

    .crew_member-image > img {
        max-height: 100%;
        max-width: 100%;
    }

    .crew_member-bio {
        width: 444px;
    }
}
