.crew_member-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crew_member-image {
    width: 100%;
    border-bottom: solid 1px #383b4bbd;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 256px;
}

.crew_member-image > img {
    width: 55%;
    max-width: 225px;
}

.crew_member-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.crew_member-slider {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}