.technology-main {
  min-height: 100vh;
  width: 100%;
  background: url("/public/Assets/technology/background-technology-mobile.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  font-family: var(--font-main);

  display: flex;
  flex-direction: column;
}

.technology-title {
  margin-top: 88px;
  margin-bottom: 32px;
}


@media screen and (min-width: 375px) {
  .technology-main {
    background: url("/public/Assets/technology/background-technology-tablet.jpg")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .technology-title {
    text-align: left;
    margin: 136px 0 60px 38px;
  }
}

@media screen and (min-width: 768px) {
  .technology-main {
    background: url("/public/Assets/technology/background-technology-desktop.jpg")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 1080px) {

  .technology-title {
    text-align: left;
    margin: 212px 0 5% 8%;
  }
}