.space__home {
    height: 100vh;
    width: 100%;
    background: url('../../Assets/home/background-home-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.space__home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 8rem;
    width: 100%;
    margin: 0 10.3rem 8rem 10.3rem;
}

.space__home-content {
    height: 382px;
    width: 450px;
}

.space__home-content h5 {
    font-family: var(--font-secondary);
    color: var(--color-purple);
    font-size: 28px;
    letter-spacing: 4.75px;
    line-height: 34px;
    font-weight: normal;
}

.space__home-content h1 {
    font-family: var(--font-main);
    color: var(--color-white);
    font-size: 150px;
    line-height: 172px;
    margin: 2.5rem 0;
}

.space__home-content p {
    font-family: var(--font-secondary);
    font-size: 18px;
    line-height: 32px;
    color: var(--color-purple);
}

.space__home-explore-button {
    height: 274px;
    width: 274px;
    background: var(--color-white);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-main);
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    color: var(--color-black);
    cursor: pointer;
}

.space__home-explore-button:hover {
    box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1150px) {
    .space__home-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 1.5rem;
    }

    .space__home-content {
        text-align: center;
    }

    .space__home-content h5 {
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        margin-bottom: 1.5rem;
    }

    .space__home-content h1 {
        font-size: 150px;
        line-height: 150px;
    }

    .space__home-content p {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .space__home-explore {
        margin-bottom: 6rem;
    }
}

