.space__navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: black;
}

.space__navbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    width: 830px;
    height: 96px;
    gap: 3rem;
    padding-right: 6rem;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

.space__navbar-nav {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.space__navbar-nav a {
    display: flex;
    gap: .5rem;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: 16px;
    height: 100%;
    align-items: center;
    border-bottom: solid 3px transparent;
    letter-spacing: 2.7px;
}

.space__navbar-nav p {
    letter-spacing: normal;
}

.nav-home, .nav-destination, .nav-crew, .nav-technology {
    border-bottom: solid 3px transparent;
}

.nav-home:hover, .nav-destination:hover, .nav-crew:hover, .nav-technology:hover {
    border-bottom: solid 3px rgba(255, 255, 255, 0.5);
}

.selected__nav {
    border-bottom: solid 3px var(--color-white);
}

.selected__nav:hover {
    border-bottom: solid 3px var(--color-white);
}