.technology-main {
    height: 100vh;
    width: 100%;
    background: url('/src/Assets/technology/background-technology-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
    font-family: var(--font-main);

    display: flex;
    flex-direction: column;
}

.technology-header {
    margin-bottom: 8.6rem;
    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
}

.technology-header p {
    opacity: .25;
    font-weight: bold;
}

.technology-container {
    display: flex;
    flex-direction: column;
}

.technology-image {
    width: 375px;
    height: 170px; 
    margin-bottom: 2.125rem;
} 

.technology-content {
    display: flex;
    flex-direction: column;
}

.technology-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.625rem;
}

.technology-nav-item {
    background: transparent;
    border: solid 1px rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    color: var(--color-white);
    cursor: pointer;
}

.technology-nav-item:hover {
    border: solid 1px white;
    
}

.selected-tech {
    background-color: white;
    color: var(--color-black);
}

.technology-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.technology-subheader {
    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    color: var(--color-purple);
    text-align: center;
    margin-bottom: 9px;
}

.technology-title {
    font-family: var(--font-main);
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.technology-description {
    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 15px;
    color: var(--color-purple);
    line-height: 25px;
    text-align: center;
    margin-bottom: 3.5rem;
    width: 48ch;
}



.launchVehicle {
    content: url('/src/Assets/technology/image-launch-vehicle-landscape.jpg');
}   

.spacePort {
    content: url('/src/Assets/technology/image-spaceport-landscape.jpg');
}

.spaceCapsule {
    content: 
        url('/src/Assets/technology/image-space-capsule-landscape.jpg');
}


