.crew-main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: url("/public/Assets/crew/background-crew-mobile.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.crew-title {
  margin: 88px 0 32px 0; 
}

@media screen and (min-width: 375px) {
  .crew-main {
    background: url("/public/Assets/crew/background-crew-tablet.jpg") no-repeat
    center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .crew-title {
    text-align: left;
    margin: 136px 0 60px 38px;
  }

  .crew-container {
    flex-grow: 1;
    display: flex;
  
  }
  
}

@media screen and (min-width: 768px) {
  .crew-main {
    background: url("/public/Assets/crew/background-crew-desktop.jpg") no-repeat
    center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}

@media screen and (min-width: 1080px) {
  .crew-title {
    text-align: left;
    margin: 212px 0 5% 8%;
  }
}

@media screen and (min-width: 1440px) {
  .crew-title {
    margin-bottom: 0;
  }
}