.destination-main{
    height: 100%;
    width: 100%;
    background: url('/src/Assets/destination/background-destination-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: var(--font-main);

    display: flex;
    flex-direction: column;
}

.destination-header {
    font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
}

.destination-header p {
    /* font-size: 28px; */
    font-weight: bold;
    /* line-height: 34px; */
    opacity: .25;
}

.destination-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.destination-image {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.625rem;
}

.destination-image img {
    height: 170px;
    width: 170px;
}

.destination-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-nav {
    display: flex;
    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    height: 28px;
    gap: 1.625rem;
    margin-bottom: 1.25rem;
}

.destination-nav-item {
    cursor: pointer;
    border-bottom: solid 3px transparent;
}

.destination-nav-item:hover {
    border-bottom: solid 3px rgba(255,255,255, 50%);
}

.selected-nav {
    border-bottom: solid 3px white;
}

.destination-title {
    text-transform: uppercase;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    font-weight: normal;
}

.destination-text p{
    font-family: var(--font-secondary);
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--color-purple);
    width: 44ch;
    margin-bottom: 2rem;
}

.destination-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 327px;
    border-top: solid 1px #383B4B;
    padding-top: 2rem;
    gap: 2rem;
    margin-bottom: 3.625rem;
}

.destination-distance div, .destination-time div {
    text-align: center;
    margin-bottom: 12px;

    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: var(--color-purple);
}

.destination-distance p, .destination-time p {
    /* font-family: var(--font-main); */
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
}

/* @media screen and (max-width: 1150px) {
    .destination-main {
        flex-direction: column;
        padding-bottom: 0;
    }

    .destination-header {
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        text-transform: uppercase;
        height: 100%;
        padding: 8.5rem 0 0 2.4rem;
        margin: 0;
        gap: 19px;
    }

    .destination-header p {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        opacity: 0.25;
    }

    .destination-container {
        align-items: center;
        flex-direction: column;
        margin-bottom: 3.75rem;
        gap: 0;
    }
    
    .destination-content {
        width: 100%;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .destination-image img {
        height: 300px;
        width: 300px;
    }

    .destination-nav-item {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }

    .destination-title {
        font-weight: normal;
        font-size: 80px;
        line-height: 92px;
        text-align: center;
    }

    .destination-text {
        width: max(570px, 60%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .destination-text p {
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        width: 60ch;
        padding-bottom: 49px;
    }

    .destination-distance, .destination-time {
        width: 216px;
    }

    .destination-distance div, .destination-time div {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 2.3625px;
        text-transform: uppercase;
        width: 100%;
    }

    .destination-distance p, .destination-time p  {
        font-weight: normal;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 768px) {
    .destination-main {
        background: url('/src/Assets/destination/background-destination-tablet.jpg') no-repeat center center fixed; 
    }
} */