.destination-main{
    min-height: 100vh;
    width: 100%;
    background: url('/src/Assets/destination/background-destination-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: var(--font-main);

    display: flex;
    flex-direction: column;
}

.destination-header {
    font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
}

.destination-header p {
    font-weight: bold;
    opacity: .25;
}

.destination-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.destination-image {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.625rem;
}

.destination-image img {
    height: 170px;
    width: 170px;
}

.destination-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-nav {
    display: flex;
    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    height: 28px;
    gap: 1.625rem;
    margin-bottom: 1.25rem;
}

.destination-nav-item {
    cursor: pointer;
    border-bottom: solid 3px transparent;
}

.destination-nav-item:hover {
    border-bottom: solid 3px rgba(255,255,255, 50%);
}

.selected-nav {
    border-bottom: solid 3px white;
}

.destination-title {
    text-transform: uppercase;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    font-weight: normal;
}

.destination-text {
    display: flex;
    justify-content: center;
    align-content: center;
}

.destination-text p{
    font-family: var(--font-secondary);
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--color-purple);
    width: 44ch;
    margin-bottom: 2rem;
}

.destination-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 327px;
    border-top: solid 1px #383B4B;
    padding-top: 2rem;
    gap: 2rem;
    margin-bottom: 3.625rem;
}

.destination-distance div, .destination-time div {
    text-align: center;
    margin-bottom: 12px;

    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: var(--color-purple);
}

.destination-distance p, .destination-time p {
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (min-width: 550px) {
    .destination-main {
        background: url('/src/Assets/destination/background-destination-tablet.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}


@media screen and (min-width: 768px) {
    .destination-header {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        gap: 19px;
        
        justify-content: flex-start;
        margin-top: 8.5rem;
        margin-left: 2.5rem; 
        margin-bottom: 3.75rem;
    }

    .destination-image {
        margin-bottom: 3.3rem;
    }

    .destination-image img {
        height: 300px;
        width: 300px;
    }

    .destination-nav {
        gap: 2.1rem;
        margin-bottom: 2rem;
        height: 34px;
    }

    .destination-nav-item {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }

    .destination-title {
        font-size: 80px;
        line-height: 92px;
        margin-bottom: 8px;
    }

    .destination-text {
        width: 573px;
        margin: 0 6.125rem;
    }

    .destination-text p {
        width: 64ch;
        font-size: 18px;
        line-height: 28px;
    }

    .destination-stats {
        width: 573px;
        flex-direction: row;
        gap: 11px;
        margin-bottom: 3.875rem;
    }

    .destination-distance {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625;
    }

    .destination-stats p {
        width: 223px;
    }
}

@media screen and (min-width: 1080px) {
    .destination-main {
        background: url('/src/Assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}

@media screen and (min-width: 1400px) {
    .destination-header {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        gap: 1.75rem;

        margin: 13.25rem 0 6rem 10.5rem;
    }

    .destination-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 9.8rem;
    }

    .destination-image {
        margin: 0;
        margin-left: 14.375rem;
    }

    .destination-image img {
        height: 445px;
        width: 445px;
    }

    .destination-content {
        align-items: flex-start;
        margin-right: 10.2rem;
    }

    .destination-nav {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        height: 34px;
        gap: 2.2rem;
        text-align: left;
        margin-bottom: 2.3rem;
    }

    .destination-title {
        font-size: 100px;
        line-height: 115px;
        text-align: left;
        margin-bottom: 14px;
    }

    .destination-text {
        margin: 0;
        margin-bottom: 3.375rem;
        justify-content: flex-start;
        height: fit-content;
    }

    .destination-text p {
        font-size: 18px;
        line-height: 32px;  
        width: 52ch;
        text-align: left;
        margin: 0;
        height: 128px;
    }

    .destination-stats {
        width: 444px;
        align-items: center;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 0;
        padding-top: 1.75rem;
    }

    .destination-time, .destination-distance {
        width: 50%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }


    .destination-distance div, .destination-time div {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
        margin-bottom: 12px;
    }

    .destination-distance p, .destination-time p {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
}