@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root {
  --font-main: 'Bellefair', sans-serif;
  --font-secondary: 'Barlow Condensed', sans-serif;

  --color-black: #0B0D17;
  --color-purple: #D0D6F9;
  --color-white: #FFFFFF;
}
